@media (max-width: 768px) {
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        
    }
    
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #8435C6;
}