@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'SchoolFont';
  src: url('/fonts/SchoolFont.ttf') format('truetype');
}

@font-face {
  font-family: 'nexonReg';
  src: url('/fonts/nexonReg.ttf') format('truetype');
}

@font-face {
  font-family: 'nexonNormal';
  src: url('/fonts/nexonNormal.ttf') format('truetype');
}

.nexonReg-font {
  font-family: 'nexonReg', Arial, sans-serif;
}

.school-font {
  font-family: 'SchoolFont', Arial, sans-serif;
}

.nexonNormal-font {
  font-family: 'nexonNormal', Arial, sans-serif;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}