@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'SchoolFont';
  src: url('/fonts/SchoolFont.ttf') format('truetype');
}

@font-face {
  font-family: 'nexonReg';
  src: url('/fonts/nexonReg.ttf') format('truetype');
}

@font-face {
  font-family: 'nexonNormal';
  src: url('/fonts/nexonNormal.ttf') format('truetype');
}

.nexonReg-font {
  font-family: 'nexonReg', Arial, sans-serif;
}

.school-font {
  font-family: 'SchoolFont', Arial, sans-serif;
}

.nexonNormal-font {
  font-family: 'nexonNormal', Arial, sans-serif;
}

.noto-sans-kr {
  font-family: 'Noto Sans KR', sans-serif;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.data-[state=open]:animate-slideDown {
  animation: slideDown 200ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.data-[state=closed]:animate-slideUp {
  animation: slideUp 200ms cubic-bezier(0.87, 0, 0.13, 1) forwards;
}